.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: linear-gradient(to bottom, #333, #555);
  padding: 90px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  height: auto;
  max-height: calc(100vh - 40px);
  overflow-y: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.input-container {
  margin: 10px 0;
}

.input-label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.course-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.course-input:focus {
  border-color: #888;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.submit-button:hover {
  background-color: rgba(0, 128, 0, 0.651);
}

.close-button {
  background: red;
  border: 1px solid #555;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content h4,
.modal-content h5,
.modal-content h6 {
  color: white;
}