@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* modified */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  scrollbar-width: none;
}

body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

.app-scale {
  /* height: 100vh; */
  transform: scale(0.8); 
  /* Scale down to 80% */
  transform-origin: top left; 
  /* Make sure scaling is from the top-left corner */
  width: 125%; /* Adjust width to accommodate scaling */
  height: 125vh; /* Adjust height to accommodate scaling */
}

/* index.css or App.css */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

